.bg-banner {
	background-image: url('../image/banner.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar-light .navbar-nav .nav-link.aktif {
	color: white;
	font-weight: 600;
}

.navbar-home {
	font-size: 1rem;
	color: white;
	margin-left: 10px;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-home.aktif {
	color: white;
	font-weight: 600;
}

.navbar-home:hover {
	color: white;
	font-weight: 600;
}

.menu-select:hover {
	color: white;
	font-weight: 600;
}

.jarak-dari-kiri {
	margin-left: 70px;
}

.jarak-btn{
	margin-left: -30px;
	
}

.ion-ios7-arrow-down{
	color: white;
	margin-left: 50%;
	
}

.card-text {
	margin-top: 20px;
	border-left: 1px solid white;
}

.text-halim {
	color: white;
	margin-left: 10px;
	margin-right: 50px;
	
}


.text-traveller {
	color: white;
	margin-top: 136px;
	font-weight: normal;
}

.text-bener {
	color: white;
	margin-top: -15px;
	font-size: 60px;
	font-weight: bold;
}

.btn {
	color: white
}

.btn:hover{
	background-color: #009EDD;
	color: white;
}



.card-img-top{
	margin-top: -50px;
	border-radius: 20px;
	width: 252px;
	height: 300px;
}

.card-travel{
	min-height: 350px;
	min-width: 200px;
	border-radius: 20px;
	margin-top: 62px;
	background-color: darkgoldenrod;
	color: white;
	padding: 30px;
	background-size: cover;
	margin-bottom: 20px;
}

.card-travel:hover{
	box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.open-trip{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.gallery{
	margin: 0 0.65rem;
	margin-top: 62px;
}

.gallery-items{
	height: auto;
	margin: 0.5rem;
}

.gallery-items img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (min-width: 375px) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(6, 300px);
		grid-auto-flow: row dense;
	}
	.gallery-items {
		margin: 0.7rem;
	}
	.gallery-items:first-child {
		grid-row: span 1;
	}
	.gallery-items:nth-last-child(8) {
		grid-column: 3;
		grid-row: span 3;
	}
	.gallery-items:nth-child(3),
	.gallery-items:nth-child(4) {
		grid-row: span 2;
	}
	.gallery-items:nth-child(6) {
		grid-column:span 2;
	}
}

.whatsapp-style {
	position: fixed;
	top: 85%;
	right: 5%;
}

.whatsapp-style:hover {
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
